.content {
    display: flex;
    background-color: #1c1c1c;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.content-guide {
    margin-top: 100px;
    background-color: #1c1c1c;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    height: auto;
    
}
.title {
    margin: 0;
    color: #FF8920;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60;
}
.main-information {
    color: white;
}
body {
    margin: 0;
    padding: 0;
    background-image: url("../images/tetris_background.png");
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.sub-title {
    color: #319FFC;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.content-elements-main {
    width: 45%
}
.parent-content-elements {
    padding: 0;
    margin: 0;
}
.content-elements {
    background-color: #080808;
    padding: 30px;
    margin: 0;
    width: 40%;
    margin-top: 30px;
}
.content_sidebar {
    background-color: #080808;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 15%;
    padding: 15px;
}
#information {
    width: 50%;
    float: left;
    display: inline;
}
#tetris-computer {
    width: 40%;
    display: block;
    
}
.guides_title {
    text-align: left;
    color: #319FFC;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#guide_title {
    margin-bottom: 30px;
}
@media only screen and (max-width: 600px){
    .content-elements {
        background-color:#1c1c1c;
    }
    .content {
        background-color: #1c1c1c;
        flex-direction: column;
        width: 600px;
    }
    .categories {
        display: flex;
        flex-wrap: wrap;
    }
    .content-guide {
        width: 600px;
    }
}
.white-sub-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.category {
    background-color: #319FFC;
    text-align: center;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}
.categories {
    display: flex;
    justify-content: space-evenly;
}
.content-categories {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
}
.category:hover {
    background-color: white;
}
.main-content-guide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.goToGuide {
    background-color: #FF8920;
    font-family: Arial, Helvetica, sans-serif;
    width: 225px;
    height: 50px;
    border: none
}