/*
Table of contents
========================
1. General Styling
2. Utilities
3. Typography
4. Navbar
5. Footer
6. Sitewide
7. Index
8. Guides and category
9. Guide-page
*/


:root {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    --text-color: #1c212d;
    --opposite-text-color: #ffffff;
    --dim-text-color: #2b2b2b;
    --accent-color-1: #ff8920;
    --accent-text-color-1: #dd6f10;
    --accent-color-2: #319ffc;
    --accent-text-color-2: #1974c0;
    --background-color-1: #ffffff;
    --background-color-2: #dce8ff;
    --opposite-background-color: #2b2b2b;
    word-wrap: break-word;
}


/*=======================
1. General Styling
=======================*/

body {
	background-image: url("../images/tetris-background.png");
	margin: 0;
	padding: 0;
}

h1 {
    font-size: 2.5rem;
    font-family: museo-slab, serif;
    margin-block-start: 0.4em;
    margin-block-end: 0.1em;
}

h2 {
    font-family: museo-slab, serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

p {
    font-size: 1.15rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
  }

::-webkit-scrollbar-track {
    background: var(--opposite-background-color);
}

::-webkit-scrollbar-thumb {
    background: #454545;
}

::-webkit-scrollbar-thumb:hover {
    background: #575757;
}


/*=======================
2. Utilities
=======================*/

.orange {
    color: var(--accent-text-color-1);
}

.blue {
    color: var(--accent-text-color-2);
}

.hover-link {
    position: relative;
    display: inline-block;
}

.hover-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    color: inherit;
    background-color: currentColor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

.hover-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*=======================
3. Typography
=======================*/

.blue-title {
    font-size: 0.8em;
    color: var(--accent-text-color-2)
}


/*=======================
4. Navbar
=======================*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;
	background-color: var(--opposite-background-color);
    position: sticky;
    top: 0;
    padding: 1.2rem 0;
    z-index: 1;
}

.nav-title {
    color: var(--opposite-text-color);
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.8rem;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.hamburger {
    margin-right: 2rem;
    height: 1.8rem;
    display: block;
}

.hamburger img {
    height: 100%;
}

.navlinks {
    margin-right: 2rem;
    font-size: 1.1rem;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--accent-color-2);
    list-style-type: none;
    padding: 0;
} 
  
.navlinks li {
    display: inline-block;
    padding-left: 2rem;
}

.dropdown-container {
    position: relative;
}

.dropdown-guides {
    display: none;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    transform: translateX(-1em);
    position: absolute;
    background-color: var(--opposite-background-color);
    color: var(--opposite-text-color);
    min-width: 10rem;
}

.dropdown-guides div {
    padding: 0.7em 1em;
}

.dropdown-container:hover .dropdown-guides {
    display: block;
}

@media screen and (min-width: 900px) {
    .navbar {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }

    .nav-title {
        font-size: 1.6rem;
    }

    .hamburger {
        display: none;
    }

    .navlinks {
        display: block;
    }
}


/*=======================
5. Footer
=======================*/

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--opposite-background-color);
    color: var(--opposite-text-color);
    padding: 1rem 2.2rem;
    padding-bottom: 2rem;
    line-height: 1.3rem;
}

footer p {
    font-size: 1rem;
    margin: 0;
}

footer h3 {
    margin-bottom: 0.5em;
}

@media screen and (min-width: 500px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer h3:nth-child(2) {
        text-align: right;
    }

    .footer ul {
        text-align: right;
    }
}


/*=======================
6. Sitewide
=======================*/

.content, .content-darker {
    display: flex;
    flex-direction: column;
    margin: 4vw auto;
    width: 92vw;
    background-color: var(--background-color-1);
    box-sizing: border-box; /*to keep padding inside div*/
    padding: 5vw;
}

.content-darker {
    background-color: var(--background-color-2);
}

@media screen and (min-width: 900px) {
    .content, .content-darker {
        margin-top: 0;
        margin-bottom: 3rem;
        width: 800px;
        padding: 2rem;
    }
}

@media screen and (min-width: 1300px) {
    .content, .content-darker {
        width: 1100px;
    }
}


/*=======================
7. Index
=======================*/

.index-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.site-description {
    font-size: 1.3rem;
}

.big-button-title {
    font-size: 1.8rem;
    margin-top: 2em;
    margin-bottom: 0.7em;
}

.big-button {
    display: block;
    background-color: var(--accent-color-1);
    font-size: 1.4rem;
    color: black;
    font-weight: bold;
    padding: 1em;
    text-align: center;
}

.big-button:last-child {
    margin-bottom: 25px;
}

@media screen and (min-width: 900px) {
    .index-container {
        flex-direction: row;
        justify-content: space-around;
        margin: 5rem 0;
    }

    .index-container div:nth-child(1) {
        width: 40%;
        font-size: 1.3em;
    }
    
    .index-container div:nth-child(2) {
        width: 40%;
    }
}


/*=======================
8. Guides and category
=======================*/

.categories {
    display: flex;
    align-content: space-between;
    gap: 0.6em;
    flex-wrap: wrap;
}

.category {
    display: block;
    background-color: var(--accent-color-2);
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    padding: 0.7em 1em;
    white-space: nowrap;
    flex-grow: 1;
    flex-basis: 0px;
    transition-duration: 0.2s;
    border: none;
}

.category:hover {
    background-color: var(--background-color-1);
}

.guides-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 1.5em;
}

.guide {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.1rem;
}

.guide h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.guide img {
    object-fit: cover;
}

.guide p {
    margin-block-start: 1em;
    margin-block-end: 1.2em;
    color: var(--text-color);
}

.guide-main {
    box-sizing: border-box;
    background-color: var(--background-color-1);
    padding: 1.5em;
    height: 100%;
}

.guide-button {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    display: block;
    background-color: var(--accent-color-1);
    color: black;
    padding: 0.7em;
}

@media screen and (min-width: 550px) and (max-width: 900px),
       screen and (min-width: 1300px) {
    .guide {
        flex-direction: row;
        min-height: 350px;
    }

    .guide-main {
        order: -1;
        padding: 2.5em 1.8em;
    }

    .guide img {
        width: 50%;
    }

    .guide-main {
        width: 50%;
    }
}

@media screen and (min-width: 900px) {
    .guide {
        width: calc(50% - 0.75em);
    }
}


/*=======================
9. Guide-page
=======================*/

.guide-page-title {
    color: var(--accent-text-color-2);
}

.guide-page-info {
    font-size: 1rem;
    width: 100%;
}

#fb_share {
    color: var(--accent-text-color-2);
}

.guide-page-description {
    font-size: 1.3rem;
}

.guide-page-main-text {
    margin-top: 4rem;
}

.guide-page-main-text h2 {
    margin-block-end: 0;
    font-size: 1.9em;
    color: var(--accent-text-color-2);
}

.guide-page-main-text h3 {
    margin-block-end: 0;
    font-size: 1.6em;
    color: var(--accent-text-color-2);
}

.guide-page-main-text img {
    width: 100%;
}

.guide-page-main-text hr {
    background-color: var(--dim-text-color);
    height: 1px;
    border: none;
    margin-block-end: 2em;
}

.img-description {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    font-size: 1rem;
    color: var(--dim-text-color);
}

@media screen and (min-width: 900px) {
    .guide-page-content {
        padding: 0 1rem;
    }
    
    #guide-page-main-text {
        padding: 0 5rem;
    }
}


/*=======================
9. Create a guide
=======================*/

.edit-container {
    background-color: var(--text-color);
    color: var(--background-color-2);
    padding: 1em;
}

/*For really small screen sizes*/
@media screen and (max-width: 310px) {
    :root {font-size: 14px;}
}