html {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: url("../images/tetris_background.png");
	margin: 0;
	padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
	width: 100%;
	height: 100px;
	background-color: #1C1C1C;
}

.nav_title {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 40px;
}

.hamburger {
    display: block;
    margin-left: auto;
    margin-right: 40px;
}

.hamburger img {
    height: 30px;
}

.navlinks {
    display: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #319FFC;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 40px;
    margin-left: auto;
}
  
  .navlinks li {
    display: inline;
    margin-left: 40px;
}

.index_content {
    margin-left: auto;
    margin-right: auto;
    background-color: #1C1C1C;
    width: 92vw;
    margin-top: 4vw;
    box-sizing: border-box; /*to keep padding inside div*/
    padding: 5vw;
}

h1 {
    font-size: 2.5em;
    margin-block-start: 0.4em;
    margin-block-end: 0.1em;
}

.blue_title {
    font-size: 0.8em;
    color: #319FFC;
}

.orange {
    color: #FF8920;
}

.blue {
    color: #319FFC;
}

.big_button_title {
    font-size: 0.8em;
}



@media only screen and (min-width: 768px) {
    .navbar {height: 80px;}
    .nav_title {font-size: 25px;}
    .hamburger {display: none;}
    .navlinks {display: block;}
}